@media (max-width: 600px){
 
 
    nav {
        height:10vh;
    }
nav .right .navbar{
    display: none;
  
}
nav .right.navbar.active{
  display: flex;
}
nav .right .signin {
    margin: 0 0vw 0 20vw;
   padding: 0;
   padding-left: 2vw;
font-size: 3vw;
width: 21vw;
font-weight: 500;

}
nav .right .signin:active{
    background-color: gray;
    transition: 0.3s ease-in-out;
}
nav .right .human img {
    border-radius: 50%;
    width:9vw;
    padding-left: 1vw;
}


.all-content .hamburger{
    display: block;
    margin: 1vw 0vw;
    left: 1vw;
    top: 2.9vw;
    margin-left: 2vw;
}

.all-content .hamburger .bar {
    width: 20px;

    height: 1px;
    background-color: #000;
    margin: 5px 5px;
}
nav .left img {
    padding: 2.5vw;
    padding-left: 12.4vw;
    width: 55vw;
}





.page1,.page2,.page3,.page4,footer {
display: none;
}
.page1-responsive,.downloadApp,.page2-responsive,.page3-responsive,.page4-responsive, .footer-responsive {
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.page1-responsive{
    width: 100vw;
  color: white;
    
}
.page1-responsive .upper{
    background-color: #002970;
    display: flex;
    /* justify-content: space-evenly; */
    /* gap: 10vw; */
    font-size: 3.5vw;
font-weight:500;
line-height: 4vw;
padding: 2vw;
height: 25vw;
}
.page1-responsive .upper .left{
    width: 50vw;
    display: flex;
padding: 2vw 4vw;
}
.page1-responsive .upper .left p{
    padding:0vw 1vw;
}


.page1-responsive .upper .left img{
    width: 9vw;
    height: 10vw;
    padding-top: 2vw;
}
.page1-responsive .upper .right{
    padding: 2vw;
    display: flex;

}
.page1-responsive .upper .right img{
    width: 9vw;
    height: 10vw;   
    padding-top: 2vw;
}
.page1-responsive .upper .right p{
    padding: 1vw;
}
.page1-responsive .main img{
    width: 100%;
}
.page1-responsive .lower{
   
    height: 20vh;
    background: linear-gradient(#0459BA, #0BA9F6);
 display: flex;
 gap: 8vw;
 margin:3vw;
margin-top: 0;
 border-radius: 10px;
 padding: 3vw;
 padding-bottom: 0;
 font-weight: 500;
 line-height: 4vw;
 font-size: 3.5vw;
 justify-content: center;
 align-items: center;
 text-align: center;
 font-size: 3vw;
}
.page1-responsive .lower img{
    width: 10vw;
}
.page1-responsive .lower .scan,.transfer,.upi,.passbook{
    display: flex   ;
    flex-direction: column;
}
.page1-responsive .lower span{
    background-color: black;
    color: white;
margin: 1vw;
display: inline-block;
margin-left: -2vw;

    font-weight: 700;
    font-size: 2.5vw;
    border-radius: 3px;
}

.page1-responsive .lower .app-only{
    margin-top: 4vw;
}

body .downloadApp{
    background: #e8f8fd;
    padding: 15px 20px;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
   
    align-items: center;
    height: 23vw;
}

 .downloadApp .img img{
    padding: 1vw;
    width: 12vw;
    border-radius: 50%;
    background-color: white;
 
   
}
.downloadApp button {
  background-color:#17CBF5;
  border-radius: 20px;
  width: 30vw;
  padding: 4vw 4vw;
  font-size: 3vw;
  color: white;
  font-weight: 700;
  border: none;
  font-size: 3vw;
margin-left: 11vw;

}

.downloadApp  p{
    font-size: 3vw;
    font-weight: 100;
    padding: 1vw;
}


.downloadApp h4{
    font-size: 3.7vw;
    font-weight: 500;
}



/* <!-- pay your bills --> */

.page2-responsive{
background-color: #fff;
padding-top: 8vw;
margin-bottom: 20vh;
    
}

.page2-responsive h2{
    padding:  3vw;
    font-size: 4.5vw;
}
.page2-responsive .allBills{
    display: flex;
    gap: 5vw;
 margin: 4vw;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(214, 212, 212);
    padding-bottom: 5vw;
}
.page2-responsive .allBills .bill img{

    width: 18vw;
}
.page2-responsive .allBills .bill p{
    font-size: 4vw;
font-weight: 500;
text-align: center;
}

.page2-responsive .allBills .all{

    width: 25vw;
}

/* 
book a ticket */


.page2-responsive h2{
    padding:  3vw;
    font-size: 4.5vw;
}
.page2-responsive .allTickets{
    display: flex;
    gap: 5vw;
 margin: 4vw;
    align-items: center;
    justify-content: center;
   
    padding-bottom: 5vw;
}
.page2-responsive .allTickets .ticket img{

    width: 18vw;
}
.page2-responsive .allTickets .ticket p{
    font-size: 4vw;
font-weight: 500;
text-align: center;
}

.page2-responsive .allTickets .all{

    width: 25vw;
}
.page2-responsive .tickets{
    margin: 3vw;
    border-bottom: 1px solid rgb(214, 212, 212);
}
.page2-responsive .tickets .otherTickets{
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(211, 213, 214);
    display: inline-block;
    padding: 0vw 3vw;
    margin-left:30vw ;
margin-bottom: 4vw;
    border-radius: 20px;
    color: #00B9F5;
   font-weight: 500;
}

/* play and earn */

.page2-responsive h2{
    padding:  3vw;
    font-size: 4.5vw;
}
.page2-responsive .allgames{
    display: flex;
    gap: 5vw;
 margin: 4vw;
    align-items: center;
    justify-content: center;
   
    padding-bottom: 5vw;
}
.page2-responsive .allgames .game img{

    width: 18vw;
}
.page2-responsive .allgames .game p{
    font-size: 4vw;
font-weight: 500;
text-align: center;
}

.page2-responsive .allgames .all{

    width: 25vw;
}
.page2-responsive .games{
    margin: 3vw;
    border-bottom: 1px solid rgb(214, 212, 212);
}
.page2-responsive .tickets .otherTickets{
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(211, 213, 214);
    display: inline-block;
    padding: 0vw 3vw;
    margin-left:30vw ;
margin-bottom: 4vw;
    border-radius: 20px;
    color: #1a8ea8;
   font-weight: 500;
}

         /* page-3 */

 .page3-responsive{
    padding-bottom: 40vw;
 }
.page3-responsive .first,.second,.third,.fourth{
    display: flex;
    padding: 3vw;
}

.page3-responsive .right p{
    color: gray;
    font-size:4vw;
    padding: 2vw 1vw;
}

.page3-responsive .download-steps{
padding: 3vw;
}
.page3-responsive  button{
    margin: 3vw;
  
    width: 90%;
    padding: 3vw 6vw;
    background-color: #00B9F5;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 5vw;
    font-weight: 700;
}

/* Page4 */
.page4-responsive{
    padding-bottom: 40vh;
    background-color: #fafafa;
  
    height:80vh;
   margin: 5vw;
 
}
.page4-responsive .offers{
    padding: 4vw;
}
.page4-responsive .first,.second,.third,.fourth{
    display: flex;
    padding: 3vw;
}

.page4-responsive .right p{
    color: gray;
    font-size:4vw;
    padding: 2vw 1vw;
}
.page4-responsive .left img{
    padding:4vw;
}

/* responsive footer */
.footer-responsive{
    padding-bottom: 40vw;
    background-color: #fafafa;
}
.footer-responsive .upper{
    display: flex;
    justify-content: center;
    gap: 10vw;
margin: 4vh;
border-bottom: 1px solid rgb(216, 209, 209);
padding: 4vh;
padding-top: 6vh;
}
.footer-responsive .upper img{
    width: 10vw;
    
}
.footer-responsive .lower{
    padding:4vw;
    width: fit-content;
}
.footer-responsive .lower .material{
display: none ;
}
.footer-responsive .lower span{
    padding-left:40vw;
    font-size: 6vw;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
.footer-responsive .lower .create,.remove{
    display: flex;
    font-weight: 500;
}
.footer-responsive .lower .remove{
    display: none;
}
.footer-responsive .lower  h4{
    font-weight: 500;
}



}